<form>
	<div class="form-group">
		<label for="email">Email address</label>
		{{#input type="email" class="form-control" id="email" placeholder="Enter email" value=email}}{{/input}}
	</div>
	<div class="form-group">
		<label for="pass">Password</label>
		{{#input type="password" class="form-control" id="pass" placeholder="Password" value=pass}}{{/input}}
	</div>
	<div class="form-group">
		<label for="message">Message</label>
		{{#input type="textarea" class="form-control" id="message" placeholder="write here your message" value=message}}{{/input}}
	</div>
	<button type="submit" class="btn btn-default" {{action 'save'}}>Submit</button>
</form>
